In [1]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import numpy as np

In [2]:
df_credits = pd.read_csv("data/credits.csv")

In [3]:
from ast import literal_eval

df_credits['cast'] = df_credits['cast'].apply(literal_eval)

In [4]:
def get_name_castId(x):
    if isinstance(x, list):
        names = [i['name'] for i in x]
        cast_ids = [i['id'] for i in x]
        return [names, cast_ids]
    return []

In [5]:
cast = df_credits['cast']
cast = cast.apply(get_name_castId)
ids = list(df_credits['id'])
for i in range(len(cast)):
    cast[i].append(ids[i])
cast[0]

[['Tom Hanks',
  'Tim Allen',
  'Don Rickles',
  'Jim Varney',
  'Wallace Shawn',
  'John Ratzenberger',
  'Annie Potts',
  'John Morris',
  'Erik von Detten',
  'Laurie Metcalf',
  'R. Lee Ermey',
  'Sarah Freeman',
  'Penn Jillette'],
 [31,
  12898,
  7167,
  12899,
  12900,
  7907,
  8873,
  1116442,
  12901,
  12133,
  8655,
  12903,
  37221],
 862]

In [6]:
df = pd.DataFrame()
for x in cast:
    diction = {'cast_name': x[0], 'cast_id': x[1],'movie_id': x[2]}
    df = df.append(diction, ignore_index=True)
df.head()

,cast_name,cast_id,movie_id
0,"[Tom Hanks, Tim Allen, Don Rickles, Jim Varney...","[31, 12898, 7167, 12899, 12900, 7907, 8873, 11...",862
1,"[Robin Williams, Jonathan Hyde, Kirsten Dunst,...","[2157, 8537, 205, 145151, 5149, 10739, 58563, ...",8844
2,"[Walter Matthau, Jack Lemmon, Ann-Margret, Sop...","[6837, 3151, 13567, 16757, 589, 16523, 7166]",15602
3,"[Whitney Houston, Angela Bassett, Loretta Devi...","[8851, 9780, 18284, 51359, 66804, 352, 87118, ...",31357
4,"[Steve Martin, Diane Keaton, Martin Short, Kim...","[67773, 3092, 519, 70696, 59222, 18793, 14592,...",11862

In [96]:
df_movie = pd.read_csv("data/movies_metadata.csv")

In [97]:
df_movie = df_movie[["budget","genres","title","revenue","id"]]
df_movie.head()

,budget,genres,title,revenue,id
0,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",Toy Story,373554033.0,862
1,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",Jumanji,262797249.0,8844
2,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",Grumpier Old Men,0.0,15602
3,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",Waiting to Exhale,81452156.0,31357
4,0,"[{'id': 35, 'name': 'Comedy'}]",Father of the Bride Part II,76578911.0,11862

In [98]:
literal_eval(df_movie.genres.values[0])

[{'id': 16, 'name': 'Animation'},
 {'id': 35, 'name': 'Comedy'},
 {'id': 10751, 'name': 'Family'}]

In [99]:
uniqueGenres = set([])
for i in df_movie.genres.values: # I am looping through all the rows
    genList = literal_eval(i) # convert from string to list of dict
    for j in genList: # loop through the list of dict
        uniqueGenres.add(j["name"]) # add the name of the genre to my uniqueGenres variabe
uniqueGenres

{'Action',
 'Adventure',
 'Animation',
 'Aniplex',
 'BROSTA TV',
 'Carousel Productions',
 'Comedy',
 'Crime',
 'Documentary',
 'Drama',
 'Family',
 'Fantasy',
 'Foreign',
 'GoHands',
 'History',
 'Horror',
 'Mardock Scramble Production Committee',
 'Music',
 'Mystery',
 'Odyssey Media',
 'Pulser Productions',
 'Rogue State',
 'Romance',
 'Science Fiction',
 'Sentai Filmworks',
 'TV Movie',
 'Telescene Film Group Productions',
 'The Cartel',
 'Thriller',
 'Vision View Entertainment',
 'War',
 'Western'}

In [100]:
rows = [] # for all the movies
genres = list(uniqueGenres) # all unique Genres

for i in df_movie.genres: #looping through all the rows/movies
  genList = literal_eval(i) #converting from string to list of dict for a particular movie
  movieGenres = [x['name'] for x in genList] # list of all the genres of the movie
  row = [] # store a list of 1s and 0s for one movie
  for j in genres: #loop through all unique genres
    row.append(int(j in movieGenres)) #checking if the genre is present in that movie - if the genre is present 1 else 0
  rows.append(row)

In [101]:
genre = pd.DataFrame(rows,columns = genres)
genre

,Aniplex,Comedy,Romance,Mardock Scramble Production Committee,History,Drama,Science Fiction,War,Crime,The Cartel,...,Adventure,TV Movie,Pulser Productions,Sentai Filmworks,Vision View Entertainment,GoHands,Telescene Film Group Productions,Odyssey Media,Carousel Productions,Music
0,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2,0,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,1,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
45462,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
45463,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
45464,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
45465,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [102]:
df_movie = pd.concat([df_movie,genre], axis = 1) # joing the two dataframes
df_movie.shape, genre.shape

((45466, 37), (45466, 32))

In [103]:
df_movie = df_movie.drop(columns = ['genres'])

In [104]:
df_movie.head()

,budget,title,revenue,id,Aniplex,Comedy,Romance,Mardock Scramble Production Committee,History,Drama,...,Adventure,TV Movie,Pulser Productions,Sentai Filmworks,Vision View Entertainment,GoHands,Telescene Film Group Productions,Odyssey Media,Carousel Productions,Music
0,30000000,Toy Story,373554033.0,862,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,65000000,Jumanji,262797249.0,8844,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2,0,Grumpier Old Men,0.0,15602,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,16000000,Waiting to Exhale,81452156.0,31357,0,1,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,0,Father of the Bride Part II,76578911.0,11862,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [105]:
df_movie["revenue"].isnull().sum()

6

In [106]:
df_movie = df_movie[df_movie['revenue'].notna()]

In [107]:
df_movie["revenue"].isnull().sum()

0

In [108]:
df_movie["revenue"][0]

373554033.0

In [109]:
sum(df_movie["revenue"] == 0)

38052

In [110]:
(sum(df_movie["revenue"] == 0)/df_movie.shape[0])*100

83.70435547734272

In [111]:
df_movie_revenue = df_movie
df_movie_revenue["revenue"] = df_movie_revenue["revenue"].replace(0, pd.np.nan)

In [112]:
df_movie_revenue["revenue"].isnull().sum()

38052

In [118]:
df_movie_revenue = df_movie_revenue[df_movie_revenue['revenue'].notna()]
df_movie_revenue["revenue"].isnull().sum()
df_movie_revenue["revenue"].describe()

count    7.408000e+03
mean     6.878739e+07
std      1.464203e+08
min      1.000000e+00
25%      2.400000e+06
50%      1.682272e+07
75%      6.722707e+07
max      2.787965e+09
Name: revenue, dtype: float64

In [119]:
df_movie_revenue["budget"] = df_movie_revenue["budget"].astype(int)
df_movie_revenue["budget"][0]

30000000

In [120]:
sum(df_movie_revenue["budget"] == 0)

2027

In [121]:
(sum(df_movie_revenue["budget"] == 0)/df_movie_revenue.shape[0])*100

27.36231101511879

In [125]:
df_movie_revenue_budget = df_movie_revenue
df_movie_revenue_budget["budget"] = df_movie_revenue_budget["budget"].replace(0, pd.np.nan)
df_movie_revenue_budget = df_movie_revenue_budget[df_movie_revenue_budget['budget'].notna()]
df_movie_revenue_budget["budget"].isnull().sum()
df_movie_revenue_budget["budget"].describe()

count    5.381000e+03
mean     3.109480e+07
std      4.016263e+07
min      1.000000e+00
25%      5.037000e+06
50%      1.700000e+07
75%      4.000000e+07
max      3.800000e+08
Name: budget, dtype: float64

In [126]:
df_movie_revenue_budget.head()

,budget,title,revenue,id,Aniplex,Comedy,Romance,Mardock Scramble Production Committee,History,Drama,...,Adventure,TV Movie,Pulser Productions,Sentai Filmworks,Vision View Entertainment,GoHands,Telescene Film Group Productions,Odyssey Media,Carousel Productions,Music
0,30000000.0,Toy Story,373554033.0,862,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,65000000.0,Jumanji,262797249.0,8844,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,16000000.0,Waiting to Exhale,81452156.0,31357,0,1,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
5,60000000.0,Heat,187436818.0,949,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
8,35000000.0,Sudden Death,64350171.0,9091,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [128]:
df_movie_revenue_budget.shape

(5381, 36)

In [152]:
df_movie_revenue_budget.rename(columns = {'id':'movie_id'}, inplace = True)
df_movie_revenue_budget["movie_id"].astype(str).astype(int).dtypes

dtype('int64')

In [155]:
df_movie_revenue_budget["movie_id"] = df_movie_revenue_budget["movie_id"].astype(str).astype(int)
df_movie_revenue_budget.dtypes

budget                                   float64
title                                     object
revenue                                  float64
movie_id                                   int64
Aniplex                                    int64
Comedy                                     int64
Romance                                    int64
Mardock Scramble Production Committee      int64
History                                    int64
Drama                                      int64
Science Fiction                            int64
War                                        int64
Crime                                      int64
The Cartel                                 int64
Western                                    int64
Foreign                                    int64
Action                                     int64
Thriller                                   int64
BROSTA TV                                  int64
Documentary                                int64
Horror                                     int64
Mystery                                    int64
Animation                                  int64
Family                                     int64
Rogue State                                int64
Fantasy                                    int64
Adventure                                  int64
TV Movie                                   int64
Pulser Productions                         int64
Sentai Filmworks                           int64
Vision View Entertainment                  int64
GoHands                                    int64
Telescene Film Group Productions           int64
Odyssey Media                              int64
Carousel Productions                       int64
Music                                      int64
dtype: object

In [157]:
df_movie_revenue_budget_cast = df_movie_revenue_budget.merge(df, on = "movie_id", how = 'left')

In [169]:
df_movie_revenue_budget_cast.shape

(5393, 38)